@import "tailwindcss";
@import "tw-animate-css";

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@font-face {
  font-family: "Mona Sans";
  src: url("/fonts/MonaSans/fonnts.com-Mona-Sans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Mona Sans", sans-serif;
}
